body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */
.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

/* Testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta-section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading {
  padding-top: 2rem;
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: Montserrat;
  font-weight: 900;
}

/* footer section */
#footer {
  text-align: center;
  padding: 7% 15%;
}

.copyright-disclaimer {
  color: grey;
}

.social-icon {
  margin: 20px 10px;
}

/* CSS media-query */
@media (max-width: 1028px) {
  #title {
      text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
